/* .header,  */
.hero,
.features,
.team,
.portfolio,
.footer,
.modal-backdrop {
  display: none;
}

/* ----------------------ГЛОБАЛЬНЕ СКИДАННЯ СТИЛІВ------------------ */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* --------------------------COMMON STYLES-----------------------*/
@media screen {
  body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #ffffff;
  }
  .section-paddings {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .container {
    max-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    font-weight: 400;
    font-size: 16px;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  /* Для заголовків h2*/
  .section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
  }

  /*Для заголовків h3*/
  .section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
  }

  /* Для абзаців p*/
  .section-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  /* --------------------------/COMMON STYLES-----------------------*/

  /*------------------------------ HEADER ------------------------*/
  .nav-list {
    display: none;
  }
  .address {
    display: none;
  }

  .container-header {
    display: flex;
    justify-content: space-between;
  }
  .logo-header {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
  }
  .logo-span-header {
    color: #2e2f42;
  }

  /*------------------------------ /HEADER ------------------------*/
}

@media screen and (max-width: 767px) {
  /*------------------------------ HEADER ------------------------*/
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .mobile-menu-open-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    stroke: #2f2f37;
    line-height: 0;
  }

  /*------------------------------ /HEADER ------------------------*/
  /*------------------------------ MOBILE-MENU ------------------------*/

  .mobile-menu-container {
    position: relative;
    height: 100%;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: #fff;
    transform: translateX(100%);
    transition: 500ms linear;
  }

  .mobile-menu.is-open {
    transform: translateX(0%);
  }
  .mobile-menu-close-btn {
    background-color: transparent;
    border-radius: 100%;
    position: absolute;
    top: 20px;
    right: 15px;
  }

  .nav-list-mobile-menu {
    display: inline-flex;
    flex-direction: column;
    margin-top: 72px;
    gap: 40px;
  }
  .nav-list-mobile-menu-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #404bbf;
  }
  .address-items {
    margin-top: 168px;
  }
  .address-items li:first-child {
    margin-bottom: 24px;
  }
  .mail-tel-link {
    display: inline-flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mail-tel-link:hover,
  .mail-tel-link:focus {
    color: #404bbf;
  }

  .social-list-mobile {
    display: flex;
    gap: 40px;
    margin-top: 48px;
  }
  .social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-links:hover,
  .social-links:focus {
    background-color: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-svg {
    width: 16px;
    height: 16px;
    fill: #f4f4fd;
  }
  /*------------------------------ /MOBILE-MENU ------------------------*/
}
@media screen and (min-width: 768px) {
  /* --------------------------COMMON STYLES-----------------------*/
  .container {
    max-width: 768px;
  }

  /* --------------------------/COMMON STYLES-----------------------*/

  /*------------------------------ HEADER ------------------------*/
  .mobile-menu-open-btn {
    display: none;
  }

  .container-header {
    justify-content: flex-start;
    column-gap: 111px;
    align-items: center;
  }

  .nav-header {
    display: flex;
    align-items: center;
    flex-grow: 1;
    column-gap: 120px;
  }

  .nav-list {
    display: flex;
    column-gap: 40px;
  }
  .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 24px;
    padding-bottom: 24px;
    display: inline-block;
  }
  .nav-link:hover,
  .nav-link:focus {
    color: #404bbf;
  }
  .nav-link-current {
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #404bbf;
  }
  .nav-link-current::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 2px;
    width: 48px;
    height: 4px;
    background-color: #404bbf;
    left: 0;
    bottom: -1px;
  }
  .address {
    display: flex;
  }

  .mail-tel-link {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mail-tel-link:hover,
  .mail-tel-link:focus {
    color: #404bbf;
  }

  /*------------------------------ /HEADER ------------------------*/
  /*------------------------------ MOBILE-MENU ------------------------*/
  .mobile-menu {
    display: none;
  }
  /*------------------------------ /MOBILE-MENU ------------------------*/
}

@media screen and (min-width: 1158px) {
  /* --------------------------COMMON STYLES-----------------------*/
  .section-paddings {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .container {
    max-width: 1158px;
  }

  /* --------------------------/COMMON STYLES-----------------------*/

  /*------------------------------ HEADER ------------------------*/
  .address-items {
    display: flex;
    gap: 40px;
  }
  /*------------------------------ /HEADER ------------------------*/
}
