/* .header,   */
/* .hero, */
/* .features, */
/* .team, */
/* .portfolio, */
/* .footer  */
.modal-backdrop {
  display: none;
}

/* ----------------------ГЛОБАЛЬНЕ СКИДАННЯ СТИЛІВ------------------ */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* --------------------------COMMON STYLES-----------------------*/
@media screen {
  body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #ffffff;
  }
  .section-paddings {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .container {
    max-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    font-weight: 400;
    font-size: 16px;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  h1 {
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    text-align: center;
    color: #fff;
  }
  /* Для заголовків h2*/
  .section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
  }

  /*Для заголовків h3*/
  .section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
  }

  /* Для абзаців p*/
  .section-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  /* --------------------------/COMMON STYLES-----------------------*/

  /*------------------------------/MODAL ------------------------*/
  .modal-backdrop {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
      0 2px 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
  }

  .close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #e7e9fc;
    fill: #2e2f42;
    position: absolute;
    right: 24px;
    top: 24px;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .close-btn:hover,
  .close-btn:focus {
    background-color: #404bbf;
    border: none;
  }

  .icon-close {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .close-btn:hover .icon-close,
  .close-btn:focus .icon-close {
    fill: #ffffff;
  }

  .modal-backdrop.is-open {
    opacity: 1;
    pointer-events: auto;
  }
  .modal-form {
    display: flex;
    flex-direction: column;
  }

  .modal-container {
    margin-bottom: 8px;
  }

  .modal-container-comment {
    margin-bottom: 16px;
  }
  .modal-paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
  }
  .modal-label {
    display: block;
    margin-bottom: 4px;
    color: #000;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    position: relative;
    width: 100%;
  }
  .input-wrapper {
    position: relative;
  }
  .input-wrapper:focus-within .modal-svg {
    color: #404bbf;
  }

  .modal-input {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 100%;
    height: 40px;

    padding-left: 38px;
    outline: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-input:focus,
  .textarea-input:focus {
    border-color: #4d5ae5;
  }

  .input-wrapper:focus-within .modal-svg {
    fill: #4d5ae5;
  }

  .modal-svg {
    fill: #2e2f42;
    position: absolute;
    top: 50%;
    left: 16px;

    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .textarea-input {
    width: 100%;
    height: 120px;
    resize: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
    outline: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
  }

  .modal-agreement {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    align-items: center;
  }

  .modal-checkbox {
    position: absolute;
    pointer-events: none;
  }

  .checkbox-label {
    position: relative;
    padding-left: 24px;
  }

  .checkbox-custom {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
  }
  .accept-svg {
    position: absolute;
    opacity: 0;
    fill: #f4f4fd;
  }

  .modal-checkbox:checked + .modal-label .checkbox-custom .accept-svg {
    opacity: 1;
  }

  .modal-checkbox:checked + label .checkbox-custom {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
  }

  .paragraph-agreement {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-left: 24px;
  }
  .user-agreement-link {
    text-decoration: underline;
    color: #4d5ae5;
    text-decoration-skip-ink: none;
  }
  .send-button {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    padding: 16px 32px;
    align-self: center;
  }

  /*------------------------------/MODAL ------------------------*/

  /*------------------------------ HEADER ------------------------*/
  .nav-list {
    display: none;
  }
  .address {
    display: none;
  }

  .container-header {
    display: flex;
    justify-content: space-between;
  }
  .logo-header {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
  }
  .logo-span-header {
    color: #2e2f42;
  }

  /*------------------------------ /HEADER ------------------------*/

  /*------------------------------ HERO ------------------------*/
  .hero {
    height: 600px;
    padding: 188px 0;
    max-width: 1440px;
    background: #2e2f42;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .container-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero-title {
    max-width: 496px;
    text-align: center;
    margin-bottom: 48px;
  }
  .hero-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    text-align: center;
    white-space: nowrap;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hero-button:hover,
  .hero-button:focus {
    background-color: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  /*------------------------------ /HERO ------------------------*/

  /*------------------------------ FEATURES ------------------------*/

  .section-subtitle-features {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: start;
    margin-bottom: 8px;
  }

  .features-list {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .svg-container {
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }

  .section-subtitle-features {
    margin-bottom: 8px;
  }
  .features-item .section-paragraph {
    text-align: left;
  }
  /*------------------------------ FEATURES ------------------------*/

  /*--------------------------------TEAM----------------------------*/

  .team {
    background-color: #f4f4fd;
  }

  .section-title-team {
    margin-bottom: 8px;
  }
  .social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-links:hover,
  .social-links:focus {
    background-color: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-svg {
    width: 16px;
    height: 16px;
    fill: #f4f4fd;
  }
  .team-members {
    width: 264px;
  }

  /*--------------------------------/TEAM---------------------------*/

  /*------------------------ PORTFOLIO------------------------------*/

  .title-portfolio {
    margin-bottom: 72px;
  }

  .name-category-app > .section-subtitle {
    margin-bottom: 8px;
    text-align: left;
  }
  .name-category-app {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }
  /*------------------------ /PORTFOLIO------------------------------*/
  .footer {
    background: #2e2f42;
    padding: 100px 0;
  }

  /*------------------------ FOOTER------------------------------*/
  .footer {
    background-color: #2e2f42;
  }
  .logo-footer {
    display: inline-block;
    margin-bottom: 16px;

    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
  }
  .logo-span-footer {
    color: #f4f4fd;
  }
  .footer-paragraph {
    width: 264px;
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .footer-paragraph-social-links {
    display: flex;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
  }

  .input-footer {
    width: 264px;
    height: 40px;
    padding-left: 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 4px;
    color: #ffffff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  }

  .subscribe-btn {
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 4px;
    cursor: pointer;

    background-color: #4d5ae5;
    color: #ffffff;

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
  }

  .send-svg {
    margin-left: 16px;
  }

  /*------------------------ /FOOTER------------------------------*/
}
@media screen and (max-width: 767px) {
  /*------------------------------ HEADER MOBILE------------------------*/
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .mobile-menu-open-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    stroke: #2f2f37;
    line-height: 0;
  }

  /*------------------------------ /HEADER MOBILE ------------------------*/
  /*------------------------------ MOBILE-MENU ------------------------*/

  .mobile-menu-container {
    position: relative;
    height: 100%;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: #fff;
    transform: translateX(100%);
    transition: 500ms linear;
  }

  .mobile-menu.is-open {
    transform: translateX(0%);
  }
  .mobile-menu-close-btn {
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    position: absolute;
    top: 20px;
    right: 15px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-list-mobile-menu {
    display: inline-flex;
    flex-direction: column;
    margin-top: 72px;
    gap: 40px;
  }
  .nav-list-mobile-menu-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #404bbf;
  }
  .address-items {
    margin-top: 168px;
  }
  .address-items li:first-child {
    margin-bottom: 24px;
  }
  .mail-tel-link {
    display: inline-flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mail-tel-link:hover,
  .mail-tel-link:focus {
    color: #404bbf;
  }

  .social-list-mobile {
    display: flex;
    gap: 40px;
    margin-top: 48px;
  }
  .social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-links:hover,
  .social-links:focus {
    background-color: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-svg {
    width: 16px;
    height: 16px;
    fill: #f4f4fd;
  }
  /*------------------------------ /MOBILE-MENU ------------------------*/

  /*------------------------------ MOBILE-MODAL ------------------------*/
  .modal {
    width: 288px;
    min-height: 623px;
  }
  /*------------------------------ /MOBILE-MODAL ------------------------*/
  /*------------------------------ HERO MOBILE ------------------------*/
  .hero {
    height: 432px;
    max-width: 320px;
    padding: 104px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bgSm@1x.jpg);
    margin-bottom: 48px;
  }

  h1 {
    font-size: 36px;
    letter-spacing: 0.02em;
  }

  .hero-title {
    margin-bottom: 72px;
  }
  /*------------------------------ /HERO MOBILE ------------------------*/
  /*------------------------------ FEATURES MOBILE ------------------------*/
  .svg-container {
    display: none;
  }
  .features {
    margin-top: 48px;
    margin-bottom: 48px;
  }
  .features-list {
    display: block;
  }
  .section-subtitle-features {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
  }
  .features-item:not(:last-child) {
    margin-bottom: 72px;
  }
  /*------------------------------ /FEATURES MOBILE------------------------*/

  /*------------------------------ TEAM MOBILE------------------------*/
  .team {
    margin-top: 48px;
    margin-bottom: 48px;
    padding-top: 96px;
    padding-left: 14px;
    padding-right: 14px;
  }

  .container-team {
    display: block;
  }

  .team-members {
    margin-top: 64px;
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }

  .social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .section-subtitle {
    text-align: center;
    margin-bottom: 8px;
    margin-top: 32px;
  }
  .name-position {
    text-align: center;
    padding-bottom: 32px;
  }
  .name-position > .section-paragraph {
    text-align: center;
    margin-bottom: 8px;
  }
  /*------------------------------ /TEAM MOBILE ------------------------*/

  /*------------------------------ PORTFOLIO MOBILE ------------------------*/
  .overlay-text {
    display: none;
  }
  .portfolio-list-items:not(:last-child) {
    margin-bottom: 48px;
  }
  /*------------------------------ /PORTFOLIO MOBILE ------------------------*/

  /*------------------------------ FOOTER MOBILE ------------------------*/
  .container-footer {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
  }

  .footer-column {
    width: 100%;
    color: #ffffff;
    text-align: center;
  }
  .footer-column-socials {
    width: 100%;
    text-align: center;
  }
  .footer-paragraph-social-links {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
  }
  .social-list-footer {
    display: flex;
    gap: 16px;
    justify-content: center;
  }

  .social-list-footer .social-links {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
  }
  /*------------------------------ /FOOTER MOBILE ------------------------*/
}

/*------------------------------ HERO-RETINA-MOBILE ------------------------*/
@media screen and (max-width: 767px) and (min-resolution: 192dpi),
  screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bgSm@2x.jpg);
  }
}
/*------------------------------ /HERO-RETINA-MOBILE ------------------------*/
@media screen and (min-width: 768px) {
  /* --------------------------COMMON STYLES-----------------------*/
  .container {
    max-width: 768px;
  }

  /* --------------------------/COMMON STYLES-----------------------*/

  /*------------------------------ HEADER ------------------------*/
  .mobile-menu-open-btn {
    display: none;
  }

  .container-header {
    justify-content: flex-start;
    column-gap: 111px;
    align-items: center;
  }

  .nav-header {
    display: flex;
    align-items: center;
    flex-grow: 1;
    column-gap: 120px;
  }

  .nav-list {
    display: flex;
    column-gap: 40px;
  }
  .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 24px;
    padding-bottom: 24px;
    display: inline-block;
  }
  .nav-link:hover,
  .nav-link:focus {
    color: #404bbf;
  }
  .nav-link-current {
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #404bbf;
  }
  .nav-link-current::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 2px;
    width: 48px;
    height: 4px;
    background-color: #404bbf;
    left: 0;
    bottom: -1px;
  }
  .address {
    display: flex;
  }

  .mail-tel-link {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mail-tel-link:hover,
  .mail-tel-link:focus {
    color: #404bbf;
  }

  /*------------------------------ /HEADER ------------------------*/
  /*------------------------------ MOBILE-MENU ------------------------*/
  .mobile-menu {
    display: none;
  }
  /*------------------------------ /MOBILE-MENU ------------------------*/
  /*------------------------------TABLET-MODAL ------------------------*/
  .modal {
    width: 408px;
    min-height: 584px;
  }
  /*------------------------------/TABLET-MODAL ------------------------*/
  /*------------------------------ HERO-TABLET ------------------------*/
  .hero {
    height: 436px;
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bgMed@1x.jpg);
  }

  h1 {
    font-size: 56px;
  }
  /*------------------------------ HERO-TABLET ------------------------*/

  /*------------------------------ FEATURES-TABLET ------------------------*/
  .svg-container {
    display: none;
  }
  .features {
    margin-top: 48px;
  }
  .features-list {
    flex-wrap: wrap;
    gap: 24px;
  }
  .features-item {
    width: calc((100% - 24px) / 2);
  }
  /*------------------------------ /FEATURES-TABLET ------------------------*/

  /*-------------------------------TEAM-TABLET-----------------------------*/
  .team {
    padding-top: 120px;
  }
  .container-team {
    padding-left: 108px;
    padding-right: 108px;
  }
  .section-title-team {
    margin-bottom: 72px;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }

  .team-members {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 24px) / 2);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
  .section-subtitle {
    text-align: center;
    margin-bottom: 8px;
  }
  .name-position {
    padding: 32px 0;
  }
  .name-position > .section-paragraph {
    text-align: center;
    margin-bottom: 8px;
  }
  .social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    overflow: hidden;
  }
  /*-------------------------------/TEAM-TABLET-----------------------------*/

  /*------------------------------ PORTFOLIO TABLET ------------------------*/
  .overlay-text {
    display: none;
  }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;
  }
  .portfolio-list-items {
    width: calc((100% - 24px) / 2);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  /*------------------------------ /PORTFOLIO TABLET ------------------------*/
  /*------------------------------ FOOTER TABLET ------------------------*/
  .container-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-left: 108px;
  }

  .footer-column {
    display: inline-block;
  }

  .footer-column-socials {
    display: inline-block;
  }
  .p-modal-btn-container {
    display: inline-block;
  }
  .label-footer {
    margin-right: 24px;
  }
  .subscribe-form {
    display: flex;
    justify-content: start;
  }

  /*------------------------------ /FOOTER TABLET ------------------------*/
}

/*------------------------------ HERO-RETINA-TABLET ------------------------*/
@media screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bgMed@2x.jpg);
  }
  /*------------------------------ /HERO-RETINA-TABLET ------------------------*/
}

@media screen and (min-width: 1158px) {
  /* --------------------------COMMON STYLES-----------------------*/
  .section-paddings {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .container {
    max-width: 1158px;
  }

  /* --------------------------/COMMON STYLES-----------------------*/

  /*------------------------------ HEADER ------------------------*/
  .address-items {
    display: flex;
    gap: 40px;
  }
  /*------------------------------ /HEADER ------------------------*/

  /*------------------------------ HERO-DESK-TOP ------------------------*/
  .hero {
    height: 600px;
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bgMed@1x.jpg);
  }

  /*------------------------------ HERO-DESK-TOP ------------------------*/
  /*------------------------------ FEATURES-DESK-TOP ------------------------*/
  .features {
    margin-top: 61px;
  }
  .features-item {
    width: calc((100% - 72px) / 4);
  }
  .svg-container {
    display: flex;
  }
  .section-subtitle-features {
    font-weight: 500;
    font-size: 20px;
    /*------------------------------ /FEATURES-DESK-TOP ------------------------*/
  }
  /*------------------------------ TEAM-DESK-TOP ------------------------*/
  .team {
    padding-top: 120px;
  }
  .container-team {
    padding-left: 15px;
    padding-right: 15px;
  }
  .team-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
  .team-members {
    width: calc((100% - 72px) / 4);
  }
  .section-title-team {
    margin-bottom: 72px;
  }

  /*------------------------------ /TEAM-DESK-TOP ------------------------*/

  /*------------------------------ PORTFOLIO DESK-TOP ------------------------*/
  .portfolio {
    padding-top: 120px;
  }
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    position: relative;
  }

  .portfolio-list-items {
    flex-basis: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-list-items:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
  }

  .portfolio-list-items:hover .overlay-text {
    transform: translateY(0%);
  }
  .name-category-app {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }
  .img-wrapper {
    position: relative;
    width: 360px;
    height: 300px;
    overflow: hidden;
  }
  .overlay-text {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  /*------------------------------ /PORTFOLIO DESK-TOP ------------------------*/

  /*------------------------------ FOOTER DESK-TOP ------------------------*/
  .container-footer {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
  }

  .footer-column-socials a:hover,
  .footer-column-socials a:focus {
    background-color: #31d0aa;
  }
  .input-footer:hover,
  .input-footer:focus {
    border-color: #31d0aa;
  }

  .subscribe-btn:hover,
  .subscribe-btn:focus {
    background-color: #31d0aa;
  }
}
/*------------------------------ /FOOTER DESK-TOP ------------------------*
}

/*------------------------------ HERO-RETINA-DESKTOP ------------------------*/
@media screen and (min-width: 1158px) and (min-resolution: 192dpi),
  screen and (min-width: 1158px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/Dark-bgLg@2x.jpg");
  }
  /*------------------------------ HERO-RETINA-DESKTOP ------------------------*/
}
